{{#each fullpost}}
  <li>
    <a href="{{ _id }}" id="{{ _id }}" class="post_title">{{title}}</a>
    <p>{{content}}</p>
    <small>{{author}}</small>
    <small>{{date}}</small>
    <a href="#">{{{ tags }}}</a>

    {{!--
    <p> Tags:
	    {{each tags}}
	    	{{#if @last}}
	    		<a href="#">{{this}}</a>
	    	{{else}}
	    		<a href="#">{{this}}</a>
	  		{{/if}}
			{{/each}}
		</p>
		--}}


  </li>
{{/each}}


